header {
    width: 90vw;
    height: 15vh;
    padding: 0 5vw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    font-weight: bold;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 calc(var(--x) * 1) #fff;
}

label[for="toggle-menu"] { display: none; }

header img, header nav, #header-right {
    max-height: 6vh;
}

header img {
    width: calc(var(--x) * 12);
}

header nav {
    min-width: calc(var(--x) * 35);
    max-width: 40vw;
    margin: auto;
}

header nav, #header-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#header-right label {
    cursor: pointer;
    width: calc(4 * var(--x));
    height: calc(4 * var(--x));
    border-radius: calc(2 * var(--x));
    position: relative;
}

#header-right label::before {
    content: '';
    display: block;
    background-color: var(--c0);
    cursor: pointer;
    border-radius: calc(2 * var(--x));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--x) * 2.5);
    height: calc(var(--x) * 2.5);
}

#header-right label::after {
    --y: 0.5;
    content: '';
    display: block;
    width: calc(1.6 * var(--x));
    height: calc(1.6 * var(--x));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + var(--x) * var(--y)), calc(-50% - var(--x) * var(--y)));
    box-shadow: calc(var(--x) * -1 * var(--y)) calc(var(--x) * var(--y)) 0 1px #fff;
}

#header-right a {
    padding: 1vh 2vw;
    border-radius: 1vh;
    color: #fff;
    background-color: var(--c1);
}

/* Dark Mode */

body.dark header {
    background-color: var(--c0);
    box-shadow: 0 0 calc(var(--x) * 1) var(--c0);
}

body.dark #header-right label::before {
    width: calc(var(--x) * 1.2);
    height: calc(var(--x) * 1.2);
    background-color: #fff;
}

body.dark #header-right label::after {
    width: calc(var(--x) * 0.3);
    height: calc(var(--x) * 0.3);
    transform: translate(-50%, -50%);
    box-shadow:
        0 calc(var(--x) * 1.2) 0 #fff,
        0 calc(var(--x) * -1.2) 0 #fff,
        calc(var(--x) * 1.2) 0 0 #fff,
        calc(var(--x) * -1.2) 0 0 #fff,
        calc(var(--x) * 0.8) calc(var(--x) * 0.8) 0 #fff,
        calc(var(--x) * -0.8) calc(var(--x) * 0.8) 0 #fff,
        calc(var(--x) * -0.8) calc(var(--x) * -0.8) 0 #fff,
        calc(var(--x) * 0.8) calc(var(--x) * -0.8) 0 #fff;
}

@media screen and (orientation: portrait) {

    header {
        display: none;
    }

    label[for="toggle-menu"] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--x) * 9);
        height: calc(var(--x) * 9);
        background-color: #fff;
        position: absolute;
        transition: all 1s ease-in-out;
        z-index: 10;
    }

    #toggle-menu:not(:checked) ~ label[for="toggle-menu"] {
        top: calc(var(--x) * 3);
        right: calc(var(--x) * 3);
        width: calc(var(--x) * 9);
        height: calc(var(--x) * 9);
        border-radius: 50%;
    }

    #toggle-menu:checked ~ label[for="toggle-menu"] {
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .menu {
        display: flex;
        transition: all 1s ease-in-out;
        background-color: var(--bg);
        color: var(--bg);
        --bg: var(--c0);
        text-align: center;
    }

    .menu > a {
        font-size: inherit;
        width: 100%;
    }

    .menu.active {
        --bg: var(--c1);
    }

    #toggle-menu:not(:checked) ~ label .menu {
        width: calc(var(--x) * 5);
        height: calc(var(--x) * 0.8);
        border: 0px solid var(--bg);
        font-size: 0;
    }

    #toggle-menu:not(:checked) ~ label .menu:not(:last-child) { margin-bottom: calc(var(--x) * 0.8); }

    #toggle-menu:checked ~ label .menu {
        background-color: transparent;
        border: 3px solid var(--bg);
        border-radius: var(--x);
        width: calc(var(--x) * 40);
        height: calc(var(--x) * 7);
        font-size: calc(var(--x) * 4);
    }

    #toggle-menu:checked ~ label .menu:not(:last-child) { margin-bottom: calc(var(--x) * 7); }

}