section {
    display: grid;
    width: 80vw;
    min-height: 20vh;
    margin: auto;
    padding: 0;
    grid-auto-columns: 1fr;
    column-gap: calc(var(--x) * 5);
}

section > * {
    display: flex;
    grid-row: 1 / 2;
    width: auto;
    flex-direction: column;
    justify-content: center;
}

section:first-of-type {
    grid-template-columns: 5fr 3fr;
    min-height: 60vh;
    padding-bottom: 10vh;
}

picture {
    width: 100%;
    height: auto;
    position: relative;
}

img {
    width: 100%;
}

figcaption {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

section:nth-of-type(3) {
    margin: 5vh auto 0;
}

section:nth-of-type(4) > * {
    margin: auto;
    width: 70%;
    text-align: center;
}