:root {
    --x: calc(0.5vh + 0.5vw);
    --c0: #222222;
    --c1: #ff6d00;
    font-size: calc(var(--x) * 1.5)
}

body {
    padding: 15vh 0 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    width: 90vw;
    height: 15vh;
    padding: 0 5vw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    font-weight: bold;
}

header img, header nav, #header-right {
    max-height: 6vh;
}

header img {
    width: calc(var(--x) * 12);
}

header nav {
    min-width: calc(var(--x) * 35);
    max-width: 40vw;
    margin: auto;
}

header nav, #header-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#header-right label {
    background-color: var(--c0);
    width: calc(2.5 * var(--x));
    height: calc(2.5 * var(--x));
    border-radius: calc(2 * var(--x));
    position: relative;
}

#header-right label::before {
    content: '';
    display: block;
    width: calc(100% - 0.7 * var(--x));
    height: calc(100% - 0.7 * var(--x));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

#header-right label::after {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(calc(-100% - 0.25 * var(--x)), calc(0.25 * var(--x)));
    background-color: var(--c0);
}

#header-right a {
    padding: 1vh 2vw;
    border-radius: 1vh;
    color: #fff;
    background-color: var(--c1);
}