:root {
    --x: calc(0.5vh + 0.5vw);
    --c0: #222222;
    --c1: #9900ff;
    font-size: calc(var(--x) * 1.5);
    color: var(--c0);
}

body {
    padding: 15vh 0 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body.dark {
    background-color: var(--c0);
    color: #fff;
}

.youtube-container {
    padding-bottom: 56%;
    position: relative;
}

.youtube-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}